

<div class="jumbotron">
   <h1 id="title" class="text-center"><span><img id="queen"   src="/assets/img/bq.png" alt=""></span>Grab a burger<span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h1>
   <hr>
   <br>
   <div class="container">
       <div class="row">
           <div class="col-md-4 text-center" id="new"></div>
           <div class="col-md-4">
                <div class="text-center"><textarea id="text" cols="30" rows="7"></textarea></div>
                <br>
                <p class="text-center"><a id="add" class="btn btn-primary btn-lg" role="button">Submit</a></p>
           </div>
           
           <div class="col-md-4 text-center" id="devoured"></div>
       </div>
       
   </div>
   
</div>

