            #queen {
                width: 200px;
            }
            
            .jumbotron {
                background: none;
            }
            
            #title {
                color: gold;
                font-family: 'Bree Serif', serif;
            }
            
            .glyphicon-fire {
                color: red
            }
            
            button {
                margin-left: 5px;
                height: 30px;
                border: none;
                background-color: gold;
            }
            
            #myimg {
                width: 50px;
                height: auto
            }
            
            .mydiv {
                margin-left: -86px;
            }
            
            p {
                border-color: black;
                border-width: 1px;
                border-style: solid;
                text-align: center;
                width: 250px;
                display: inline-block;
                padding-bottom: 4px
            }